<%= render 'shared/errors', obj: @article %>
<div class="col-6 custom-form-container">
  <%= form_with(model: @article, local: true) do |f| %>  
    <div class="mb-3">
      <%= f.label :title, class:"form-label" %> <br/>
      <%= f.text_field :title, class:"form-control", placeholder: "Title of article" %>
    </div>
    <div class="mb-3">
      <%= f.label :description, class:"form-label"  %> <br/>
      <%= f.text_area :description, rows: 10, class:"form-control", placeholder: "Description of article" %>
    </div>
    <%= f.submit ( f.object.new_record? ? "Create" : "Update"), class:"btn btn-primary"%>
  <% end %>
</div>