<%= render 'shared/errors', obj: @user %>
<div class="col-6 custom-form-container">
  <%= form_with(model: @user, local: true) do |f| %>  
    <div class="mb-3">
      <%= f.label :username, class:"form-label" %> <br/>
      <%= f.text_field :username, class:"form-control", placeholder: "Enter username"  %>
    </div>
    <div class="mb-3">
      <%= f.label :email, class:"form-label"  %> <br/>
      <%= f.email_field :email, class:"form-control", placeholder: "Enter your email address" %>
    </div>
    <div class="mb-3">
      <%= f.label :password, class:"form-label"  %> <br/>
      <%= f.password_field :password, class:"form-control", placeholder: "Enter your password" %>
    </div>  
    <div class="<%= f.object.new_record? ? "text-center" : "" %>">
      <%= f.submit ( f.object.new_record? ? "Sign up" : "Update"), class:"btn btn-primary"%>  
    </div>      
  <% end %>
</div>