<div class="custom-top-title-container custom-title-menu">
  <h4>Alpha Bloggers</h4>
</div>
<div class="row align-items-start">
  <% @users.each do |user| %>
    <div class="card custom-profile-card" style="width: 18rem;">
      <%= link_to gravatar_for(user, {size: 200, class: "card-img-top"}), user%>
      <div class="card-body">
        <h5 class="card-title"><%= link_to user.username, user, class: "custom-title" %></h5>
         <%= "Administrator" if user.admin? %>
        <p class="card-text"><%= user.email %></p>
        <p class="card-text"><%= pluralize(user.articles.count, "article") %></p>
        <div class="user-footer-action">
          <%= link_to 'View', user, class: "btn btn-outline-primary" %>
          <% if logged_in? && (user == current_user || current_user.admin?) %>
            <%= link_to 'Update', edit_user_path(user), method: :edit, class: "btn btn-outline-success" %>
            <%= link_to 'Delete', user_path(user), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the user account and all associated articles?"}, class: "btn btn-outline-danger" %>
          <% end %>
        </div>        
      </div>
      <div class="card-footer text-muted">
        <small>Joined <%= time_ago_in_words(user.created_at) %> ago</small>
      </div>
    </div>
  <% end %>
</div>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>